<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="nav-content">
                <ul class="navbar-nav mr-auto">
                    <!--The link to products is provided as an example.  You can add more links for additional pages-->
                    <li class="nav-item"><a asp-controller="Products" asp-action="Index" class="nav-link">Products</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="EmployeeHomeView" class="nav-link">Employee Home View</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="ManagerHomeView" class="nav-link">Manager Home View</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="OrderConfirmed" class="nav-link">Order Confirmed</a></li>
                    <li class="nav-item"><a asp-controller="Home" asp-action="CancelledOrderConfirmed" class="nav-link">Cancelled Order Confirmed</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>