
.vs/FinalProjectWorkspace/xs/UserPrefs.xml
FinalProjectWorkspace/obj/FinalProjectWorkspace.csproj.nuget.dgspec.json
FinalProjectWorkspace/obj/FinalProjectWorkspace.csproj.nuget.g.props
FinalProjectWorkspace/obj/project.assets.json
