@model IEnumerable<FinalProjectWorkspace.Models.Ticket>

@{
    ViewData["Title"] = "Report Index";
}

<h1>Report Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="ReportSearch">Create Report</a>
</p>

