@model IEnumerable<FinalProjectWorkspace.Models.Ticket>

@{
    ViewData["Title"] = "Report Index";
}

<h1>Report Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="RevenueReportSearch">Create Revenue Report</a>
    <a class="btn btn-outline-primary" asp-action="CustomerReportSearch">Create Customer Report</a>
    <a class="btn btn-outline-primary" asp-action="PopcornPointsReportSearch">Create PopcornPoints Report</a>
</p>

