@model FinalProjectWorkspace.Models.Price

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Price</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PriceName" class="control-label"></label>
                <input asp-for="PriceName" class="form-control" />
                <span asp-validation-for="PriceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceAmount" class="control-label"></label>
                <input asp-for="PriceAmount" class="form-control" />
                <span asp-validation-for="PriceAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to Price List</a>
</div>

