@model FinalProjectWorkspace.Models.PublishViewModel

@{
    ViewData["Title"] = "Publish a Schedule";
}

<h1>Publish a Schedule</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Publish">
            <div style="display:inline-flex; grid-column-gap:30px">
                    <div class="form-group" style="width:300px">
                        <label asp-for="SelectedShowingDate" class="control-label"></label>
                        <input asp-for="SelectedShowingDate" class="form-control" />
                        <span asp-validation-for="SelectedShowingDate" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width:300px">
                        <label asp-for="SelectedTheatre" class="control-label"></label><br />&nbsp;
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.SelectedTheatre, Theatre.Theatre1) Theater 1 &nbsp; &nbsp;
                        </label>
                        <label class="radio">
                            @Html.RadioButtonFor(model => model.SelectedTheatre, Theatre.Theatre2) Theater 2
                        </label>
                        <span asp-validation-for="SelectedTheatre" class="text-danger"></span>
                    </div>
            </div>
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>

