@model FinalProjectWorkspace.Models.SearchViewModel

@{ ViewData["Title"] = "Detailed Search"; }

<h1>Detailed Search</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplaySearchResults">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SelectedTitle" class="control-label"></label>
                <input asp-for="SelectedTitle" class="form-control" />
                <span asp-validation-for="SelectedTitle" class="text-danger"></span>
            </div>
            <!--
        <div class="form-group">
            <label asp-for="SelectedDescription" class="control-label"></label>
            <input asp-for="SelectedDescription" class="form-control" />
            <span asp-validation-for="SelectedDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedCategoryID" class="control-label"></label>
            Html.DropDownListFor(model => model.SelectedCategoryID, (SelectList)ViewBag.AllCategories, new { class = "form-control" })
            <span asp-validation-for="SelectedCategoryID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedSalary" class="control-label"></label>
            <input asp-for="SelectedSalary" class="form-control" />
            <span asp-validation-for="SelectedSalary" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedSearchType" class="control-label"></label>&nbsp;
            <label class="radio">
                Html.RadioButtonFor(model => model.SelectedSearchType, AllSearchTypes.GreaterThan) Greater than &nbsp; &nbsp;
            </label>
            <label class="radio">
                Html.RadioButtonFor(model => model.SelectedSearchType, AllSearchTypes.LessThan) Less than
            </label>
        </div>
    <div class="form-group">
        <label asp-for="SelectedPostedDate" class="control-label"></label>
        <input asp-for="SelectedPostedDate" class="form-control" />
        <span asp-validation-for="SelectedPostedDate" class="text-danger"></span>
    </div>
            -->
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Return to Home Page</a>
</div>
